<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class="cover">
    <div class="cover__content">
      {{ content }}
    </div>
  </div>
  
  <script type="text/javascript">
    window.omnisend = window.omnisend || [];
    omnisend.push(["accountID", "5e8f0f7c4c7fa47be74d4d4b"]);
    omnisend.push(["track", "$pageViewed"]);
    !function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://omnisrc.com/inshop/launcher-v2.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)}();
  </script>
</body>
</html>
